<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="CSG package source" value="http://packages.csgsolutions.com/nuget/" />
    <add key="NuGet.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>